body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}
#text-hero {
  position: absolute;
  background-color: #31c68b;
  color: white;
}
.footer-bg {
  background-color: black;
}